.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    max-width: 960px;
    margin:auto;
}

.wrapper > * {
    /* padding: 10px; */
    margin-top: 10px;
    flex: 1 100%;
}

body{
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    color: #777;
    background: #777;
    font-size: 18px;
}

header, nav, .main-sub-section, article, aside, footer{
    background: #ebebeb;
}

header, nav, footer{
height: 90px;
}

/* this is the container that contains the section and aside boxes */
.main-section{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-evenly;
    height: 200px;
}

/* this is the box that contains the section and articles */
.main-sub-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    margin-right: 5px;
}

.article {
    color: #ebebeb;
    background: #777;
    max-width: 495px;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    text-align: center;
    height: 150px;
    width: 100%;
}

.article p , h1 {
    height: 50px;
}

div > h1, div > p{
    text-align: center;
    margin: 5px;
}

.aside{
    max-width: 400px;
    width: 30%;
    box-sizing: border-box;
    margin-left: 5px;
}

h1, h2, h3, p {
    color: #777;
    background: #ebebeb;
}


/* @media all and (min-width: 600px) {
  .aside { flex: 1  0; }
} */

/* Medium screens */
@media all and (min-width: 600px) {
    /* We tell both sidebars to share a row */
    .aside { flex: 1 auto; }
}
  
/* Large screens */
@media all and (min-width: 800px) {
  /* 
   */
  .header { order: 1; }
  .navbar { order: 2; }
  .main-section { order: 3; }
  /* .main-section { flex: 2 0px; }  main element takes twice as much width as the sidebar???*/
  .aside{ order: 4; }
  .footer  { order: 5; }
}


  /* We tell all items to be 100% width, via flex-basis */
  /* .wrapper > * {
    flex: 1 100%;
  } */
  

  
